@import "utils";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 1em;
}

// h1,
// h2,
// h3,
// p {
//     margin: 0;
//     padding: 0;
// }

body {
    min-height: 100%;
    font-family: $font-stack;
    font-size: 1.3rem;
    // font-size: clamp(1.4rem, 2vw, 1.6rem);
    background: color(Light-Grayish-Blue);
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid--container {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    @include desktopSize {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        max-width: 1350px;
        // max-height: 600px;
        // outline: solid red 2px;
    }

    .card {
        padding: 2em;
        border-radius: 10px;

        &__title {
            font-size: clamp(2.1rem, 1.5vw, 2.4rem);
        }

        &__p {
            line-height: 1.4;
            opacity: 70%;
            font-size: clamp(1.4rem, 2vw, 1.6rem);
        }
    }

    .daniel {
        background: color(Moderate-Violet);
        color: white;

        @include desktopSize {
            grid-column: span 2;
        }
    }

    .jonathan {
        background: color(Very-Dark-Grayish-Blue);
        color: white;
    }

    .jeanette {
        background: white;

        .card__title {
            @include desktopSize {
                max-width: 17ch;
            }
        }
    }

    .patrick {
        background: color(Very-Dark-Blackish-Blue);
        color: white;

        @include desktopSize {
            grid-column: span 2;
        }
    }

    .kira {
        background: white;

        @include desktopSize {
            grid-column: 4 / 5;
            grid-row: -3 / -1;
        }
    }

    .author--wrap {
        // outline: solid red 2px;
        display: flex;
        align-items: center;

        .name {
            margin: 0;
        }

        .verified {
            opacity: 50%;
            font-size: 1.4rem;
        }

        img {
            border-radius: 999px;
            width: 30px;
            height: 30px;
            margin-right: 1em;
        }
    }
}
